*{ box-sizing: border-box;
    margin:0;
    padding: 0;

}
/* --------------------------- Navigasjon mobil---------------------*/
header{
    background-image: url('../img/nasa.PNG');
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin-bottom: -20px;
    height: 400px;
}
header h1{
    text-align: center;
    font-style: oblique;
    padding-top: 5px;
    color: white;
    background-color: black;
}
li{
    list-style: none;
}

main a{
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    
}
a{
    color: white;
    text-decoration: none;
}

.container{
    width: 100%;
    margin: auto;
    
}

.subcontainer{
    width: 90%;
    margin: auto;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top:-46px;
}

.nav-menu{
    display:flex;
    align-items: center;
    gap: 34px;
    margin-bottom: -25px;
    margin-right: -56px;
    
}

.logo{
    height: 180px;
    width: 180px;
    margin-left: -76px;
    margin-bottom: -40px;   
}
.hamburger{
    display:none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255);
}

@media(max-width:1600px){
    .container{
    width: 100%;
    }
    .navbar{
        margin-top: -46px;
    }
} 

/* for inspirasjon til hamburger meny, 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar_hor
https://www.youtube.com/watch?v=zuAmsj2EN54&ab_channel=codefoxx
*/
@media(max-width: 1024px){ 
    .hamburger{
        display:block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: relative ;
        left: -120%;
        top: 70px;
        flex-direction: column;
        background-color: gainsboro;
        width: 100%;
        text-align: center;
        transition: 0.3s;
         top: 191px;
       
        
    }
    .nav-item{
        margin: 16px 0;
        border:5px black solid;
        width: 100%;
        height: 100%;
        align-self: center;
    }
    a.nav-link{
        color: black;
    }
    .navbar{
        margin-top: 90px;
    }
    
    .nav-menu.active{
        left: 0;
    }
 } 