/* kilder:
 https://stackoverflow.com/questions/3053205/how-create-table-only-using-div-tag-and-css 
 
 
 
 */
 *{ box-sizing: border-box;
   margin:0;
   padding: 0;
   
}

/* ---------------------------------- MOBIL -------------------------------------- */

.tabellen {
   display: grid;
   grid-template-areas:
      "top-1 top-2 top-3 top-4 "
      "col-1 row-1 row-4 row-7"
      "col-2 row-2 row-5 row-8 "
      "col-3 row-3 row-6 row-9 "
   ;
   font-size: x-small;
   justify-content: center;
   padding: 1rem;
}



.toppen {
   background-color: beige;
   padding: 5px;
   border: 1px solid black;
}

.top-1 
{grid-area: top-1;}
.top-2 
{grid-area: top-2;}
.top-3 
{grid-area: top-3;}
.top-4 
{grid-area: top-4;}


.cmser {
   border: 1px solid black;
   padding: 5px;
   background-color: beige;
}

.col-1 
{grid-area: col-1;}
.col-2 
{grid-area: col-2;}
.col-3 
{grid-area: col-3;}


.fordeler {
   border: 1px solid black;
   padding: 5px;
   background-color: white;
}

.row-1 
{grid-area: row-1;}
.row-2 
{grid-area: row-2;}
.row-3 
{grid-area: row-3;}

/* Ulempe seksjon */
.ulemper {
   border: 1px solid black;
   padding: 5px;
   background-color: white;
}

.row-4 
{grid-area: row-4;}
.row-5 
{grid-area: row-5;}
.row-6 
{grid-area: row-6;}

/* Likhet/ulikhet seksjon */
.likheter {
   border: 1px solid black;
   padding: 5px;
   background-color: white;

}

.row-7
{grid-area: row-7;}
.row-8
{grid-area: row-8;}
.row-9
{grid-area: row-9;}


.grid-container {
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;
   grid-template-areas: "header"
      "main"
      "footer";

}

header {
   grid-area: header;
}

main {
   grid-area: main;
   flex-direction: row;
   gap: 1rem;
   background: linear-gradient(white  , black );
 
   /* background: linear-gradient(
      to right,
      #df5357 0%,
      #df5357 50%,
      #323660 50%,
      #323660 100%
   ); */
   /* background-image: url('../img/background.avif');
   background-repeat: no-repeat;
   background-size: cover;  */
}

main img {
   width: 100%;
   border-radius: 10px;
   height: 350px;
}

main p {
   margin-bottom: 10px;
}

.top-section {
   width: 100%;
   margin: 30px 0 20px 0;
   padding: 1rem;
   /* background-color: rgb(99, 100, 98); */

}

.article-section {
   display: grid;
   padding: 1rem;
   gap: 1rem;
  /*  background-color: rgb(99, 100, 98); */
}

article {
   padding: 0.5rem;
   color: black;
   border-radius: 0 5px 0px 5px;
   background-color: #cac5c5;
   width: 100%;
}



.top-section-innhold {
   width: 100%;
   margin-top: 10px;
  /*  background-color: rgb(99, 100, 98); */
   padding: 15px;
}
.top-section article{
   background: transparent;

}

.kilder {
   color: black;
}

.kilder li {
   list-style: none;
   margin-bottom: 3px;
}

.punkter {
   margin: 10px;
   padding-left: 1rem;
}


footer {
   grid-area: footer;
   background-color: #000;
   padding: 1rem;
   color: #fff;
   bottom: 0;
   display: flex;
   justify-content: space-between;

}
/* Delingsknapper */
.fa-pinterest {
   background: #cb2027;
   color: white;
   border: 5px solid red;
   border-radius: 5px;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
   border: 5px solid #3B5998;
   border-radius: 5px;
 }
 .fa-twitter {
   background: #55ACEE;
   color: white;
   border: 5px solid #55ACEE;
   border-radius: 5px;
 }

#share{
   gap: 10px;
}
/* html-skjema */
input[type="text"] {
   margin-bottom: 9px;
}
input[type="email"] {
   margin-bottom: 9px;
}
input[type="tel"] {
   margin-bottom: 9px;
}
::placeholder{
   opacity: 0,1;
}
form{
   margin-right: 10%;
}
.kontakt-design{
   width:100%;
}

/* Kart */

iframe{
   margin-top: 10px;
   width:100%;
}
/* kart slutter her */

/* kontaktinformasjon */

#kontaktfont{
   margin-top: 20px;
}

#kontaktfont li{
   display: flex;
   margin-top: 5px;
   margin-left:5px;
   align-items: center;
}
#kontaktfont h3{
   margin-left: 10px;
}


#kontaktfont a{
  color: #050505;
  text-decoration: underline;
  margin-left: 48px;
  margin-bottom: 3px;
}
#kontaktfont p{
   margin-left: 47px;
}
/* .contact-border{
   border-bottom: #515451 1px solid;
} */

#analyse-img{
   width: 100%;
   height:100%;
}

#cms-figure{
float:right;


}
/* TEST */

.mobile-container {
   max-width: 480px;
   margin: auto;
   background-color: #555;
   height: 500px;
   color: white;
   border-radius: 10px;
 }
 
 .topnav {
   overflow: hidden;
   background-color: #333;
   position: relative;
 }
 
 .topnav #myLinks {
   display: none;
 }
 
 .topnav a {
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
 }
 
 .topnav a.icon {
   background: black;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 .active {
  /*  background-color: #000000; */
   color: white;
 }
 
/* TEST */

#tilgjengelig a{
   color: red;
   font-weight: 600;
}
/* --------------------------- Navigasjon mobil---------------------*/
header{
   background-image: url('../img/background.avif');
   top: 0;
   width: 100%;
   background-repeat: no-repeat;
/*    background-size: cover;  */
  
   background-position: center;
   margin-bottom: -20px;
   height: 400px;
   

}
header h1{
   text-align: center;
   font-style: oblique;
   padding-top: 5px;
}


a{
   color: white;
   text-decoration: none;
}
.main-a{
   color: white;
   border-radius: 3px;
   background-color: black;
   padding: 3px;
}


.container{
   width: 100%;
   margin: auto;
   
}

.subcontainer{
   width: 90%;
   margin: auto;
}

.navbar{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items:center;
   margin-top:-46px;
}

.nav-menu{
   display:flex;
   align-items: center;
   gap: 34px;
   margin-bottom: -25px;
   margin-right: -56px;
   list-style: none;
}

a.nav-link{
   position: relative;
   display: inline-block;
}

/* 
   inspirasjon herfra 
https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjgvbr57fr6AhXbX_EDHfMRDmoQFnoECAkQAQ&url=https%3A%2F%2Fwww.30secondsofcode.org%2Fcss%2Fs%2Fhover-underline-animation&usg=AOvVaw3_elBmieDmcLpgtItRRhrZ 
https://www.w3resource.com/html-css-exercise/html-css-practical-exercises/html-css-practical-exercise-15.php
*/
a.nav-link::after{
   content: '';
   position:absolute;
   width: 100%;
   transform:scaleX(0);
   height: 5px;
   bottom: 0;
   left: 0;
   background: #fcce22;
   transform-origin: bottom left;
   transition: transform 0.40s ease-in;
}
a.nav-link:hover:after{
   transform:scaleX(1);
   transform-origin: bottom right;
}
.logo{
   /* height: 180px; */
   width: 180px;
   /* margin-left: -76px; */
   margin-bottom: -14px;   
}
.hamburger{
   display:none;
   cursor: pointer;
}
.bar{
   display: block;
   width: 37px;
   height: 5px;
   margin: 5px 0;
   transition: all 0.5s ease;
   background-color: #DF5155;
   font-weight: 900;
}


/*----------------------------------Navigasjon mobil slutter her -----------------------------------------  */
@media (min-width:648px) and (max-width:870){
   .top-section{
      /* width:50%; */
      background-color: #cb2027;
      display: flex;
      justify-content: center;
   }
  .top-section article{
     width: 72%;
     background-color: green;
}
.article-section {
      display: grid;
      padding: 1rem;
      gap: 1rem;
      background-color: rgb(99, 100, 98);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
   article{
      max-width: 67%;
      
   } 
} 

/* for inspirasjon til hamburger meny, 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar_hor
https://www.youtube.com/watch?v=zuAmsj2EN54&ab_channel=codefoxx
*/
@media(max-width: 870px){ 
   .hamburger{
       display:block;
   }

   .hamburger.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
       transform: translateY(-8px) rotate(-45deg);
   }
   .nav-menu{
       position: relative ;
       left: -120%;
       top: 70px;
       flex-direction: column;
       background-color: gainsboro;
       width: 100%;
       text-align: center;
       transition: 0.3s;
      top: 242px;
      /* 191 */
      
       
   }
   .nav-item{
       margin: 16px 0;
       border:5px black solid;
       width: 100%;
       height: 100%;
       align-self: center;
   }
   a.nav-link{
       color: black;
   }
   .navbar{
       margin-top: 70px;
   }
   
   .nav-menu.active{
       left: 0;
   }
   .nav-link-k
   {color: black;}
} 


/* ------------------------------------------ MELLOM TELEFON OG PC = Nettbrett -------------------------------- */
@media  (min-width:770px) and (max-width: 1099px) {
   .tabellen {
      font-size: medium;
   }
      .top-section{
      display: flex;
      justify-content: center;
   }
  .top-section article{
     width: 72%;
   }
.article-section {
      display: grid;
      padding: 1rem;
      gap: 1rem;
      /* background-color: rgb(99, 100, 98); */
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
   /* article{
      max-width: 67%;
      
   }  */
   .hamburger{
      display:block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
      position: relative ;
      left: -120%;
      top: 70px;
      flex-direction: column;
      background-color: gainsboro;
      width: 100%;
      text-align: center;
      transition: 0.3s;
     top: 242px;
     /* 191 */
     
      
  }
  .nav-item{
      margin: 16px 0;
      border:5px black solid;
      width: 100%;
      height: 100%;
      align-self: center;
  }
  a.nav-link{
      color: black;
  }
  .navbar{
      margin-top: 70px;
  }
  
  .nav-menu.active{
      left: 0;
  }
  .nav-link-k
  {color: black;}
  .logo{
   height: 69px;
   width: 275px;
}

} 

   /* top {
      background-color: beige;
      padding: 5px;
      border: 1px solid black;
   }


 
   .cms {
      border: 1px solid black;
      padding: 5px;
      background-color: beige;

   }



   .fordel {
      border: 1px solid black;
      padding: 5px;
      background-color: white;

   }




   .ulempe {
      border: 1px solid black;
      padding: 5px;
      background-color: white;
   }



   .likhet {
      border: 1px solid black;
      padding: 5px;
      background-color: white;

   } */

/* 
   article {

      width: 100%;
   }
   #kontaktfont{
      list-style: none;
      
      display: flex;
      justify-content: center;
      gap: 231px;
      margin-top: 51px;
      border-top: 2px solid #515451;
      padding-top: 17px;
   }
   #kontaktfont p{
      margin-left: 15px;
   }
   #kontaktfont a{
      margin-left: 15px;
   } */
   

/* ------------------------------------------------- DESKTOP ------------------------------------------- */
@media (min-width:1100px) and (max-width: 1599px){
   .grid-container {

      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "header header header header"
         "main main main main"
         "footer footer footer footer"
      ;


   }

   header {
      grid-area: header;
   }

   main {
      grid-area: main;
      padding: 2rem;
      gap: 1rem;

   }
   main img{
      height: 300px;
   }
.navbar{
   margin: 19px;
}

.logo{
   height: 69px;
   width: 275px;
   margin-left:-52px;
}

.nav-menu{
   font-size: x-large;
   margin-right: -1em;
}
.nav-menu a{
   color: #000;
}

   .top-section {
      display: flex;
      justify-content: center;
      margin: 30px 0 20px 0;
      padding: 1rem;
      /* background-color: rgb(99, 100, 98); */
   }

   .top-section-innhold {
      width: 90;
      margin-top: 10px;

   }
   
   .top-section article{
      width: 55%;
    }

   .innhold-design {
      width: 100%;
   }

   article {
      width: 100%;
      padding: 1rem;
      color: black;
      border-radius: 0 5px 5px 5px;
   }

   .article-section {
      display: flex;
      padding: 2rem;
   }

   .article-section article {
      color: black;
   }


   .nav-link-k {
      background-color: #fce065;
      border: 10px #fce065 solid;
      border-radius: 5px;

   }

   /* Tabellen for PC */
   .tabellen {
      font-size: larger;
   }

   .top {
      background-color: beige;
      padding: 10px;
      border: 1px solid black;
   }


   /* cms boxes */
   .cms {
      border: 1px solid black;
      padding: 10px;
      background-color: beige;
   }

   /* fordel boxes */
   .fordel {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* ulempe boxes */
   .ulempe {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* likhet boxes */
   .likhet {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* #headless {
      display: flex;
   } */

   #headless-img {
      width: 500px;
     
      height: 350px ;
   }

   #seo-img {
      width: 500px;
      margin-left: 1px;
      float: right;
   }
   #kontakt{
      display: flex;
   }

   #kontaktfont{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 231px;
      margin-top: 10px;
      border-top: 2px solid #515451;
      padding-top: 17px;
   }

   #kontaktfont li{
      margin-left: -27px;
   }
   #kontaktfont a{
      margin-left: 15px;
 
   }
   #kontaktfont p{
      margin-left: 15px;
   }
   .contact-border{
      list-style: none;
   }
}

@media (min-width:1600px) {
   .grid-container {

      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "header header header header"
         "main main main main"
         "footer footer footer footer"
      ;


   }

   header {
      grid-area: header;
   }

   main {
      grid-area: main;
      padding: 2rem;
      gap: 1rem;

   }

.navbar{
   margin: 19px;
}

.logo{
   height: 69px;
   width: 275px;
}

.nav-menu{
   font-size: x-large;
}
.nav-menu a{
   color: #000;
}
   .top-section {
      display: flex;
      justify-content: center;
      margin: 30px 0 20px 0;
      padding: 1rem;
      /* background-color: rgb(99, 100, 98);
 */   
      

   }

   .top-section-innhold {
      width: 90;
      margin-top: 10px;

   }
   /* .top-section-innhold h2{
      color: white;
   } */
   .top-section article{
      width: 56%;
    }

   .innhold-design {
      width: 100%;
   }

   article {
      width: 100%;
      padding: 1rem;
      color: black;
      border-radius: 0 5px 5px 5px;
   }

   .article-section {
      display: flex;
      padding: 2rem;
   }

   .article-section article {
      color: black;
   }
   


   .nav-link-k {
      background-color: #fce065;
      border: 10px #fce065 solid;
      border-radius: 5px;

   }

   /* Tabellen for PC */
   .tabellen {
      font-size: larger;
   }

   .top {
      background-color: beige;
      padding: 10px;
      border: 1px solid black;
   }


   /* cms boxes */
   .cms {
      border: 1px solid black;
      padding: 10px;
      background-color: beige;
   }

   /* fordel boxes */
   .fordel {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* ulempe boxes */
   .ulempe {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* likhet boxes */
   .likhet {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* #headless {
      display: flex;
   } */

   #headless-img {
      width: 500px;
     
      height: 350px ;
   }

   #seo-img {
      width: 500px;
      margin-left: 1px;
      float: right;
   }
   #kontakt{
      display: flex;
   }

   #kontaktfont{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 231px;
      margin-top: 10px;
      border-top: 2px solid #515451;
      padding-top: 17px;
   }

   #kontaktfont li{
      margin-left: -27px;
   }
   #kontaktfont a{
      margin-left: 15px;
 
   }
   #kontaktfont p{
      margin-left: 15px;
   }
   .contact-border{
      list-style: none;
   }
}