/* kilder:
 https://stackoverflow.com/questions/3053205/how-create-table-only-using-div-tag-and-css 
 
 
 
 */
 *{ box-sizing: border-box;
   margin:0;
   padding: 0;
/*    overflow: hidden;
 */}

/* ---------------------------------- MOBIL -------------------------------------- */


.tabell {
   display: grid;
   grid-template-areas:
      "top1 top2 top3 top4 "
      "cms1 fordel1 ulempe1 likhet1"
      "cms2 fordel2 ulempe2 likhet2 "
      "cms3 fordel3 ulempe3 likhet3 "
   ;
   font-size: x-small;
   justify-content: center;
   padding: 1rem;
}


/* Top boxes */

.top {
   background-color: beige;
   padding: 5px;
   border: 1px solid black;
}

.top-1 {grid-area: top1;}
.top-2 {grid-area: top2;}
.top-3 {grid-area: top3;}
.top-4 {grid-area: top4;}

/* cms boxes */
.cms {
   border: 1px solid black;
   padding: 5px;
   background-color: beige;

}

.cms-1 {grid-area: cms1;}
.cms-2 {grid-area: cms2;}
.cms-3 {grid-area: cms3;}

/* fordel boxes */
.fordel {
   border: 1px solid black;
   padding: 5px;
   background-color: white;

}

.fordel-1 {grid-area: fordel1;}
.fordel-2 {grid-area: fordel2;}
.fordel-3 {grid-area: fordel3;}

/* ulempe boxes */
.ulempe {
   border: 1px solid black;
   padding: 5px;
   background-color: white;
}

.ulempe-1 {grid-area: ulempe1;}
.ulempe-2 {grid-area: ulempe2;}
.ulempe-3 {grid-area: ulempe3;}

/* likhet boxes */
.likhet {
   border: 1px solid black;
   padding: 5px;
   background-color: white;

}

.likhet-1 {grid-area: likhet1;}
.likhet-2 {grid-area: likhet2;}
.likhet-3 {grid-area: likhet3;}




.grid-container {
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;
   grid-template-areas: "header"
      "main"
      "footer";

}

header {
   grid-area: header;
}

main {
   grid-area: main;
   flex-direction: row;
   gap: 1rem;
}

main img {
   width: 100%;
   border-radius: 10px;
   height: 260px;
}

main p {
   margin-bottom: 10px;
}

.top-section {
   width: 100%;
   margin: 30px 0 20px 0;
   padding: 1rem;
   background-color: rgb(99, 100, 98);

}

.article-section {
   display: grid;
   padding: 1rem;
   gap: 1rem;
   background-color: rgb(99, 100, 98);
}

article {
   padding: 0.5rem;
   color: black;
   border-radius: 0 5px 0px 5px;
   background-color: #cac5c5;
   width: 100%;
}



.top-section-innhold {
   width: 100%;
   margin-top: 10px;
   background-color: rgb(99, 100, 98);
   padding: 15px;
}

.kilder {
   color: black;
}

.kilder li {
   list-style: none;
   margin-bottom: 3px;
}

.punkter {
   margin: 10px;
   padding-left: 1rem;
}


footer {
   grid-area: footer;
   background-color: #000;
   padding: 1rem;
   color: #fff;

   bottom: 0;
}
.wrapper{
   align-content: center;
   display: flex;
   justify-content: center;
}
.media ul{
   display: flex;
   text-align: center;
   
}
.media ul li{
   position: relative;
   display: block;
   color: #666;
   font-size: 30px;
   height:60px;
   width:60px;
   background: #171515;
   line-height: 60px;
   border-radius: 50%;
   margin: 5px 12px;
   cursor: pointer;
}

/* .media ul li:before{
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   height: inherit;
   width: inherit;
   background: #d35400;
   border-radius: 50%;
   transform: scale(.9);
   z-index: -1;
   transition: .5s;
} 
 .media ul li:hover:before{
   filter: blur(3px);
   transform: scale(1.2);
   box-shadow: 0 0 15px #d35400;
 }  */

/* html-skjema */
input[type="text"] {
   margin-bottom: 9px;
}
input[type="email"] {
   margin-bottom: 9px;
}
input[type="tel"] {
   margin-bottom: 9px;
}
::placeholder{
   opacity: 0,1;
}
form{
   margin-right: 10%;
}
.kontakt-design{
   width:100%;
}

/* Kart */

iframe{
   margin-top: 10px;
   width:100%;
}
/* kart slutter her */

/* kontaktinformasjon */

#kontaktfont{
   margin-top: 20px;
}

#kontaktfont li{
   display: flex;
   margin-top: 5px;
   margin-left:5px;
   align-items: center;
}
#kontaktfont h3{
   margin-left: 10px;
}
#kontaktfont a{
   color: #558e93;
   text-decoration: underline;
   margin-left: 46px;
   margin-bottom: 3px;
}
#kontaktfont p{
   margin-left: 47px;
}
.contact-border{
   border-bottom: #515451 1px solid;
}

/* --------------------------- Navigasjon mobil---------------------*/
header{
   background-image: url('../img/nasa.PNG');
   top: 0;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
   margin-bottom: -20px;
   height: 400px;

}
header h1{
   text-align: center;
   font-style: oblique;
   padding-top: 5px;
   color: white;
   background-color: black;
}


a{
   color: white;
   text-decoration: none;
}
.main-a{
   color: white;
   border-radius: 3px;
   background-color: black;
   padding: 3px;
}


.container{
   width: 100%;
   margin: auto;
   
}

.subcontainer{
   width: 90%;
   margin: auto;
}

.navbar{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items:center;
   margin-top:-46px;
}

.nav-menu{
   display:flex;
   align-items: center;
   gap: 34px;
   margin-bottom: -25px;
   margin-right: -56px;
   list-style: none;
}

a.nav-link{
   position: relative;
   display: inline-block;
}

/* 
   inspirasjon herfra 
https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjgvbr57fr6AhXbX_EDHfMRDmoQFnoECAkQAQ&url=https%3A%2F%2Fwww.30secondsofcode.org%2Fcss%2Fs%2Fhover-underline-animation&usg=AOvVaw3_elBmieDmcLpgtItRRhrZ 
https://www.w3resource.com/html-css-exercise/html-css-practical-exercises/html-css-practical-exercise-15.php
*/
a.nav-link::after{
   content: '';
   position:absolute;
   width: 100%;
   transform:scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background: yellow;
   transform-origin: bottom left;
   transition: transform 0.40s ease-in;
}
a.nav-link:hover:after{
   transform:scaleX(1);
   transform-origin: bottom right;
}
.logo{
   height: 180px;
   width: 180px;
   margin-left: -76px;
   margin-bottom: -14px;   
}
.hamburger{
   display:none;
   cursor: pointer;
}
.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px 0;
   transition: all 0.5s ease;
   background-color: rgb(255, 255, 255);
}

/*----------------------------------Navigasjon mobil slutter her -----------------------------------------  */
@media(max-width:1600px){
   .container{
   width: 100%;
   }
   .navbar{
       margin-top: -46px;
       font-size: large;
       position: sticky;
   }

} 

/* for inspirasjon til hamburger meny, 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar_hor
https://www.youtube.com/watch?v=zuAmsj2EN54&ab_channel=codefoxx
*/
@media(max-width: 1024px){ 
   .hamburger{
       display:block;
   }

   .hamburger.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
       transform: translateY(-8px) rotate(-45deg);
   }
   .nav-menu{
       position: relative ;
       left: -120%;
       top: 70px;
       flex-direction: column;
       background-color: gainsboro;
       width: 100%;
       text-align: center;
       transition: 0.3s;
      top: 242px;
      /* 191 */
      
       
   }
   .nav-item{
       margin: 16px 0;
       border:5px black solid;
       width: 100%;
       height: 100%;
       align-self: center;
   }
   a.nav-link{
       color: black;
   }
   .navbar{
       margin-top: 70px;
   }
   
   .nav-menu.active{
       left: 0;
   }
} 
.nav-link-k
{color: black;}


/* ------------------------------------------ MELLOM TELEFON OG PC = Nettbrett -------------------------------- */
@media only screen and (min-width:601px) and (max-width: 999px) {
   .tabell {
      font-size: medium;
   }


   .top {
      background-color: beige;
      padding: 5px;
      border: 1px solid black;
   }


   /* Venstre side boxes */
   .cms {
      border: 1px solid black;
      padding: 5px;
      background-color: beige;

   }



   /* Fordel boxes */
   .fordel {
      border: 1px solid black;
      padding: 5px;
      background-color: white;

   }




   /* ulempe boxes */
   .ulempe {
      border: 1px solid black;
      padding: 5px;
      background-color: white;
   }



   /* likhet boxes */
   .likhet {
      border: 1px solid black;
      padding: 5px;
      background-color: white;

   }


   article {

      width: 100%;
   }
   #kontaktfont{
      list-style: none;
      
      display: flex;
      justify-content: center;
      gap: 231px;
      margin-top: 51px;
      border-top: 2px solid #515451;
      padding-top: 17px;
   }
}

/* ------------------------------------------------- DESKTOP ------------------------------------------- */
@media (min-width:1000px) {
   .grid-container {

      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "header header header header"
         "main main main main"
         "footer footer footer footer"
      ;


   }

   header {
      grid-area: header;
   }

   main {
      grid-area: main;
      padding: 2rem;
      gap: 1rem;

   }

   main img {
      width: 100%;
      border-radius: 10px;

   }



   .top-section {
      width: 700px;
      margin: 30px 0 20px 0;
      padding: 1rem;
      background-color: rgb(99, 100, 98);


   }

   .top-section-innhold {
      width: 90;
      margin-top: 10px;

   }
   /* .top-section-innhold h2{
      color: white;
   } */

   .innhold-design {
      width: 100%;
   }

   article {
      width: 100%;
      padding: 1rem;
      color: black;
      border-radius: 0 5px 5px 5px;
   }

   .article-section {
      display: flex;
      padding: 2rem;
   }

   .article-section article {
      color: black;
   }


   .nav-link-k {
      background-color: rgb(252, 224, 101);
      border: 10px rgb(252, 224, 101) solid;
      border-radius: 5px;

   }

   /* Tabellen for PC */
   .tabell {
      font-size: larger;
   }

   .top {
      background-color: beige;
      padding: 10px;
      border: 1px solid black;
   }


   /* cms boxes */
   .cms {
      border: 1px solid black;
      padding: 10px;
      background-color: beige;
   }

   /* fordel boxes */
   .fordel {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* ulempe boxes */
   .ulempe {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   /* likhet boxes */
   .likhet {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
   }


   #headless {
      display: flex;
   }

   #headless-img {
      width: 500px;
      margin-left: 1px;
   }

   #seo-img {
      width: 500px;
      margin-left: 1px;
      float: right;
   }
   #kontakt{
      display: flex;
   }

   #kontaktfont{
      list-style: none;
      
      display: flex;
      justify-content: center;
      gap: 231px;
      margin-top: 51px;
      border-top: 2px solid #515451;
      padding-top: 17px;
   }

   #kontaktfont{
      margin-top: 10px;
   }
   .contact-border{
      list-style: none;
   }
}